<div class="main-container">
    <h1>Campainha Virtual</h1> <!-- Título principal centralizado -->

    <div class="upload-container">


        <!-- Campo para inserir o nome -->
        <input type="text" [(ngModel)]="userName" placeholder="Digite seu nome (opcional)">

        <!-- Botão estilizado para upload -->
        <label for="file-upload" class="upload-label">Escolher Foto/Vídeo (Opcional)</label>
        <input id="file-upload" type="file" (change)="onFileSelected($event)" accept="image/*,video/*" capture>

        <!-- Pré-visualização -->
        <div *ngIf="previewUrl" class="preview-container">
            <img *ngIf="selectedFile && selectedFile.type.startsWith('image/')" [src]="previewUrl"
                alt="Prévia da imagem">
            <video *ngIf="selectedFile && selectedFile.type.startsWith('video/')" [src]="previewUrl" controls></video>
        </div>



        <!-- Botão de envio -->
        <button (click)="upload()">Enviar</button>

        <!-- Mensagem de sucesso ou erro -->
        <p *ngIf="message" class="status-message">{{ message }}</p>
    </div>
</div>